<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Work Order Details</h1>
</div>

<!-- Work Order Details -->
<div class="card shadow mb-4">

  <div class="card-header py-3">
    <h6 class="m-0 fontweight-bold text-primary">Work Order Details</h6>
  </div>

  <div class="card-body">
    <div class="row row-space">
      <div class="col-5">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Work Order Id</mat-label>
          <input matInput disabled value="{{workOrder?.id}}" > 
        </mat-form-field>
      </div>
      <div class="col-5 text-right">
        <!-- work around if null id is passed -->
        <a [routerLink]="[ '/work-order-edit', workOrder?.id || 'all']">
          <button class="btn btn-primary btn-xl">Edit</button>
        </a>
      </div>
    </div>

    <!-- Line Break -->

    <div class="row row-space">
      <div class="col-5">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Request Date</mat-label>
          <input matInput disabled value="{{workOrder?.requestDate | date: 'MM/dd/yyyy h:mm a'}}" > 
        </mat-form-field>
      </div>
      
      <div class="col-5">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Work Order Type</mat-label>
          <input matInput disabled value="{{workOrder?.workOrderType.name}}" >
        </mat-form-field>
      </div>
    </div>

    <!-- Line Break -->

    <div class="row row-space">
      <div class="col-10">
        <mat-form-field  class="full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput disabled value="{{workOrder?.title}}">
        </mat-form-field>
      </div>
    </div>

    <!-- Line Break -->

    <div class="row row-space">
      <div class="col-10">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput disabled> {{workOrder?.description}} </textarea>
        </mat-form-field>
      </div>
    </div>
    
    <!-- Line Break -->

    <div class="row row-space">
      <div class="col-5">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Apartment No</mat-label>
          <input matInput disabled value="{{workOrder?.requestFor.apartmentNo}}">
        </mat-form-field>
      </div>
      
      <div class="col-5">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Tenant Name</mat-label>
          <input 
            matInput 
            disabled 
            value="{{workOrder?.requestFor.firstName}} {{workOrder?.requestFor.lastName}}">
        </mat-form-field>
      </div>
    </div>

    <!-- Line Break -->

    <div class="row row-space">
      <div class="col-5">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Assigned To</mat-label>
            <input 
            matInput
            disabled 
            value="{{workOrder?.assignedTo.firstName}} {{workOrder?.assignedTo.lastName}}">
        </mat-form-field>
      </div>
      
      <div class="col-5">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Submitted By</mat-label>
          <input matInput disabled value="{{workOrder?.submittedBy.userName}}">
        </mat-form-field>
      </div>
    </div>

    <!-- Line Break -->

    <div class="row row-space">
      <div class="col-3">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Status</mat-label>
          <input matInput disabled value="{{workOrder?.status.name}}">
        </mat-form-field>
      </div>
    </div>

    <!-- Line Break -->
    <hr />
    <div class="row row-space">
      <div class="col-6">
        <h3>Notes</h3>
      </div>
    </div>
    <div *ngIf="workOrder?.workOrderNotes.length > 0" class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Create Date</th>
            <th>Note</th>
            <th>Logged By</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Create Date</th>
            <th>Note</th>
            <th>Logged By</th>
          </tr>
        </tfoot>
        <tbody>
          <ng-container *ngFor="let workOrderNote of workOrder?.workOrderNotes">
            <tr>
              <td>{{workOrderNote.createDate | date: 'MM/dd/yyyy h:mm a'}}</td>
              <td>{{workOrderNote.note}}</td>
              <td>{{workOrderNote.createdBy.firstName}}  {{workOrderNote.createdBy.lastName}} </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="workOrder?.workOrderNotes.length === 0" class="table-responsive">
      No notes added for this Work Order
    </div>
    
  </div>
</div>