<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Work Order Details</h1>
</div>

<!-- Work Order Details -->
<div class="card shadow mb-4">

  <div class="card-header py-3">
    <h6 class="m-0 fontweight-bold text-primary">Work Order Details</h6>
  </div>

  <div class="card-body">
    <div class="row">

      <div class="row-1 row-space-1">
        <!-- Request Date -->
        <div class="col-2-1">
          <div class="input-group-1">
            <input type="text" class="input--style-1" placeholder="Request Date">
          </div>
          <input class="form-control" type="text" name="" id="">
        </div>
      </div>
    </div>
  </div>
</div>